<p id="notice"><%= notice %></p>
<div class="post">
	<h2 class="title">Welcome to  Coldstreamers</h2>
	<div class="entry">
		<h3>Nec Aspera Terrent - Difficulties be dammed</h3>
		<%=image_tag("welcomeGAZTigr.jpg",:size=> "132x72", :class=> "left")%>
		<p>This site is where a collection of vehicle owners can, register their vehicles, view garages and bike shops in their area,
			check the repair status of any their vehicle, engage with the community with topics, and share some memorable stories 
			doing the things we love.
		</p>
	</div>
</div>
<p>New User? <%= link_to "Register now!", new_customer_path %></p>
